* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}



/*CABEÇALHO*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
}

.logo img {
    width: 200px;
    margin-left: 70px;
}

.nav-links {
    display: flex;
    gap: 40px;
    margin-right: 70px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.nav-links a:hover {
    color: #007bff;
}

/*RESPONSIVIDADE CABEÇALHO */
@media (max-width: 768px) {
    header {
        margin-bottom: 20px;
        align-items: center;
        gap: 30px;
    }
    .logo img{
        width: 75px;
        margin-left: 0px;
    }
    .nav-links {
        gap: 20px; 
        align-items: center;
    }
}

@media (max-width: 480px) {
    header {
        margin-bottom: 20px;
        align-items: center;
        gap: 30px;
    }

    .logo img {
        width: 75px;
        margin-left: 0px;
        margin-top: 30px;
    }

    .nav-links {
        display: flex;
        gap: 20px;
    }

    .nav-links a {
        font-size: 14px;
    }
}



/*PRIMEIRO CONTAINER*/
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 100vh;
}

.left-side {
    max-width: 50%;
    width: 40%;
    margin-left: 70px;
    text-align: start;
}

.title h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

h2 {
    font-size: 22px;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: hsl(238, 22%, 44%);
}

form {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

input[type="text"] {
    padding: 12px;
    font-size: 18px; 
    height: 60px;
    width: 700px;
    max-width: 100%;
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    width: 70%;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



button:hover {
    background-color: #0056b3;
}

.right-side {
    max-width: 45%;
    text-align: left;
    margin-right: 70px;
}

.right-side img {
    max-width: 100%;
    height: auto;
}

/*RESPONSIVIDA PRIMEIRO CONTAINER */
@media (max-width: 1024px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height: auto;
    }

    .left-side, 
    .right-side {
        max-width: 100%;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        text-align: center;
    }

    form {
        flex-direction: column;
        align-items: center;
    }

    input[type="text"] {
        max-width: 100%;
    }

    button {
        width: 100%;
        max-width: 300px;
    }

    .right-side {
        order: -1; 
    }

    .right-side img {
        margin-bottom: 20px;
        width: 80%;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    .title h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 18px;
    }

    input[type="text"] {
        height: 45px;
        width: 80%;
    }

    button {
        width: 100%;
        max-width: 250px;
    }

    .right-side img {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .title h1 {
        font-size: 28px;
    }

    h2 {
        font-size: 16px;
    }

    input[type="text"] {
        height: 45px; 
        width: 100%;
        max-width: 600px;
        font-size: 20px; 
        margin-bottom: 10px;
    }

    button {
        height:45px;
        width: 100%;
        max-width: 600px; 
        font-size: 20px;
    }

    .right-side img {
        width: 100%;
    }
}

/*CONTAINER-2 */

.container-2 {
    display: flex;
    background-image: url('img/bg-curve-desktop.svg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    height: 80vh;
}

.content-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin-left: 70px;
}

.content-2 h1 {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 700;
    color: hsl(243, 87%, 12%);
}

.content-2 h2{
    font-size: 22px;
    width: 45%;
    margin-bottom: 10px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: hsl(238, 22%, 44%);
}

.image {
    width: 400px;
    height: 400px; 
    margin-left: 20px;
}

.link{
    color: green;
    font-size: 20px;
    margin-top: 10px;
}

/* RESPONSIVIDADE ITEM 2 */

@media (max-width: 768px) {
    .container-2 {
        flex-direction: column;
        background-image: url('img/bg-curve-mobile.svg');
        padding: 20px;
        height: auto;
        margin-top: 20px;
    }

    .content-2 {
        margin-left: 0;
        text-align: center;
        align-items: center;
    }

    .content-2 h1 {
        font-size: 32px;
    }

    .content-2 h2 {
        font-size: 18px;
        width: 100%;
    }

    .image {
        width: 300px;
        height: 300px;
        margin-left: 0;
        margin-top: 20px;
    }
}

/* Responsividade para telas muito pequenas (smartphones) */
@media (max-width: 480px) {
    .container-2 {
        padding: 10px;
    }

    .content-2 h1 {
        font-size: 25px;
    }

    .content-2 h2 {
        font-size: 16px;
    }
     a .link{
        margin-bottom: 100px;
    }

    .image {
        width: 250px;
        height: 250px;
    }
}

/*CONTAINER-3 */

.container-3 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    height: 30vh;
    align-items: center;
    background-color: hsl(239, 54%, 68%);
    flex-wrap: wrap;
}

.content-left {
    flex: 1;
    margin-right: 70px;
    margin-left: 70px;
}

.content-left h1 {
    font-size: 36px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 20px;
}

.content-left h2 {
    font-size: 22px;
    color: hsl(0, 0%, 100%);
    width: 100%;
}

.content-right {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-right: 70px;
}

.input-text{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-left: 140px;
    margin-right: 70px;
}
.content-right input[type="text"] {
    padding: 12px;
    font-size: 18px; 
    height: 60px;
    margin-bottom: 20px;
    width: 700px; 
    max-width: 100%; 
    border: 1px solid hsl(238, 22%, 44%);
    border-radius: 4px;
}
.button-2 {
    padding: 8px 16px;
    font-size: 16px;
    background-color: #007bff;
    width: 80%;
    height: 50px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-2:hover {
    background-color: #0056b3;
}


/*RESPONSIVIDADE CONTAINER 3 */


@media (max-width: 768px) {
    .container-3 {
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    
    .content-left{
        margin-top: 20px;
    }

    .content-left, .content-right {
        margin: 0 auto;
        width: 100%;
        text-align: center;
    }

    .content-right {
        margin-top: 20px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .input-text input[type="text"] {
        height: 50px;
        width: 200%;
        max-width: 600px; 
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 65px;
    }

    .button-2 {
        height:45px;
        width: 200%;
        max-width: 600px;
        font-size: 20px;
        margin-right: 65px;
        margin-bottom: 10px;
    }
}


footer {
    background-color: #e7e9ef;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
  }
  
  .logo-contact {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    font-size: 18px;
  }
  
  .logo {
    height: 70px;
    width: 230px;
    margin-bottom: 10px;
  }
  
  .footer-links {
    display: flex;
    justify-content: space-between;
    gap: 70px;
    font-size: 22px;
    text-decoration: none;
}

.link-column {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: inherit;
}

.link-column-2{
    display: flex;
    align-items:center;
    flex-direction: column;
}

.link-colum-3{
    display: flex;
    flex-direction: column;
}

.aa{
    margin-top: 30px;
}


.link-column a , .link-colum-3 a, .link-column-2 a , .aa {
    display: block;
    margin-bottom: 5px;
    text-decoration: none;
    color: #333;
}

  
  .link-column a:hover {
    color: #007BFF;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    margin-right: 160px;
  }
  
  .social-icons a {
    color: #333;
    font-size: 30px;
  }
  
  .social-icons a:hover {
    color: #007BFF;
  }
  
 
  .logo-contact p i {
    margin-right: 8px;
  }
  
  @media (max-width: 1200px) {
    .footer-container {
      flex-direction: column;
      margin-top: 50px; 
    }
  
    .logo-contact {
      margin-left: 0;
    }

    .logo{
        margin-bottom: 15px;
    }
  
    .footer-links {
      flex-direction: column;
      gap: 30px;
      align-items: flex-start;
      font-size: 18px;
      margin-top: 30px;
      margin-left: 20px;
      margin-bottom: 20px;
    }
  
    .social-icons {
      margin-right: 0;
      margin-top: 20px;
      align-items: center;
    }
  }
  
  @media (max-width: 768px) {
    .footer-links {
      font-size: 16px;
    }
  
    .social-icons a {
      font-size: 1.2em;
    }
  } 
